In [1]:
import numpy as np

![](https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/NumPy_logo.svg/775px-NumPy_logo.svg.png)

## The Scientific Python ecosystem is built on Numpy
![](https://gcpy.readthedocs.io/en/latest/_images/state_of_the_stack_2015.png)

## Arrays

The basic object of numpy is the ndarray

An ndarray is a multidimensional container of items of the same type and size. The number of dimensions and items in an array is defined by its shape

In [2]:
x = np.array([1,2,3,4])
print(x)
print(f'Shape:{x.shape}')

[1 2 3 4]
Shape:(4,)

In [3]:
# Mixed type arrays are coerced to the more general type or throws an error
x = np.array([1,2,3,'oops'])
print(x)

['1' '2' '3' 'oops']

In [4]:
x = np.array([[1,1],[2,2]])
print('A 2-D array:')
print(x)
print(f'Shape:{x.shape}')

A 2-D array:
[[1 1]
 [2 2]]
Shape:(2, 2)

In [5]:
x = np.array([[[1,1],[2,2]],[[3,3],[4,4]]])
print('A 3-D array:')
print(x)
print(f'Shape:{x.shape}')

A 3-D array:
[[[1 1]
  [2 2]]

 [[3 3]
  [4 4]]]
Shape:(2, 2, 2)

## Vectorization
Arrays are important because they enable you to express batch operations on data without writing any for loops. This is usually called vectorization. Any arithmetic operations between equal-size arrays applies the operation elementwise.

Vectorization is more than just a concise way of writing computations, it is **fast**.

For loops are generally executed in Python while numpy vectorized calculations are offloaded to compiled C or Fortran code.  This has two benefits:
1. compiled C and Fortan are just faster than Python as an interpreted language
2. Frees up the Python GIL to do other work

In [6]:
# Initialize two 1-D arrays of length 1,000
a = np.random.rand(1000)
b = np.random.rand(1000)

In [7]:
%%timeit 
a*b

958 ns ± 46.7 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [8]:
%%timeit 
for i in range(1000):
    a[i]*b[i]

350 µs ± 29 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

The vectorized calculation in this example is 100s of times faster than the non-vectorized calculation.

**When working with numerical computation on an array, you should always look for a vectorized way of executing.**

## Universal Functions (ufunc)

Numpy refers to its vectorized calculations as universal functions. From the docs: a ufunc is a “vectorized” wrapper for a function that takes a fixed number of specific inputs and produces a fixed number of specific outputs.  There are a [ton of them](https://docs.scipy.org/doc/numpy-1.15.1/reference/ufuncs.html) many of which have short-hand arithmetic notation.  Many of the ufuncs are also callable as a method (see sum)

In [ ]:
x = np.random.rand(1000,1000)
# How many vectorized/ufunc calclations are embedded in this line of code?
np.logical_or(x<.025, x>.975).sum()/(1000**2)

In [ ]:
np.divide(np.sum(np.logical_or(np.less(x,.025), np.greater(x,.975))),(1000**2))

#### Exercise 3.1: What is the coefficient of variation of x (standard deviation/mean) of x?:

In [ ]:
x = np.arange(100)

In [ ]:
# Your answer here:

#%load ./answers/03.1.py

## Slicing
Often you will want to hone into certain data in the array.  If you know the position of the elements in the array, you can use slicing notation which uses brackets of the form `[start:stop:step]` for every dimension of the array.  Each paramater of the slicer is optional.
1. If you omit start, it will start from the first element
2. If you omit stop, it will end at the last element
3. If you omit step, it will grab every element between start and stop
4. If you set step to -1, it will reverse the order of elements

** Slicing is a Python construct not unique to numpy. These rules are useful for pandas, lists in addition to numpy arrays **

In [ ]:
x = np.array([1,2,3,4,5,6,7,8,9,10])
print(x[3:6])
print(x[:])
print(x[1::2])
print(x[::-2])

In [ ]:
x = np.array([[(y+1)*(x+1) for y in range(10)] for x in range(10)])
print(x)
print(x[5:8,0:3])
print(x[::-1,::-1])

#### Exercise 3.2: Extract the values in the 3rd through 6th index of x in reverse order?

In [ ]:
x = np.arange(10)

In [ ]:
# Your answer here:

#%load ./answers/03.2.py

## Filtering with boolean arrays
A boolean array is an array where the elements take on True of False values.  You can filter a multidimensional array by boolean arrays.  You can also create boolean arrays by applying boolean expressions against non-boolean arrays.  To filter by boolean arrays, the boolean array must have the same shape as the array to be filtered.

In [ ]:
x = np.array([1,2,3,4,5,6])
y = np.array([True,False,False,True,True,False])
x[y]

In [ ]:
x[x>3]

#### Exercise 3.3: Create an array of values 1 to 100 and filter out all elements that are divisible by 4 using the np.mod ufunc.

In [ ]:
x = np.arange(100)+1

In [ ]:
# Your answer here:

#%load ./answers/03.3.py

## Aggregates along an Axis (dimension)
There are a variety of aggregate functions you can apply to a dimension
sum, min, max, count, cumsum, var, prod, percentile are all valid aggregate functions.
To aggregate over a specific axis, use the axis argument.  There are versions of all of these functions 
that are designed to ignore invalid elements.

In [ ]:
x = np.array([1,2,3,4,5,6])
print(np.sum(x))
x = np.array([1,2,np.nan,4,5,6])
print(np.sum(x))

In [ ]:
x = np.array([1,2,np.nan,4,5,6])
print(np.nansum(x))

In [ ]:
x = np.array([[(y+1)*(x+1) for y in range(10)] for x in range(10)])
print(x)
print(np.sum(x,axis=1))
print(np.sum(x))

##### Exercise 3.4: What is the mean of the sum of each column in x?

In [ ]:
x = np.array([[(y+1)*(x+1) for y in range(-5,5)] for x in range(10)])

In [ ]:
# Your answer here:

#%load ./answers/03.4.py

## Modifying shape
You will often need to append additional dimensions, elements within dimensions, or generally change the shape of a multi-dimensional array.

reshape, expand_dims, and concatenate are your friends for this.

In [ ]:
x = np.arange(12)+1
print(x)
print(np.reshape(x, (4,3)))
print(np.reshape(x, (3,2,2)))

In [ ]:
x = np.arange(10)
print(x)
x = np.expand_dims(x, axis=1)
print(x)
y = 2*x
np.concatenate((x,y),axis=1)

#### Exercise3.5: Transpose x to a 100 x 1 matrix using reshape.

In [ ]:
x = np.arange(100)

In [ ]:
# Your answer here:

#%load ./answers/03.5.py

## Real world example

Building a multi-dimensional IBNR model in numpy

### Create Initial multi-dimensional array

In [15]:
import pandas as pd
cas = pd.read_csv(r'http://www.casact.org/research/reserve_data/wkcomp_pos.csv')
# Let's make the pandas dataframe look more triangle like
triangle_frame = pd.pivot_table(cas[cas['DevelopmentYear']<=1997], 
                                values='CumPaidLoss_D', 
                                index=['GRNAME','AccidentYear'], 
                                columns='DevelopmentLag')
# Let's use the reshape method to create a 3-D Matrix of triangles
triangle_array = np.array(triangle_frame).reshape(len(cas['GRNAME'].unique()),
                                                  len(cas['AccidentYear'].unique()),
                                                  len(cas['DevelopmentLag'].unique()))

In [20]:
triangle_frame

DevelopmentLag                                        1        2        3   \
GRNAME                              AccidentYear
Agway Ins Co                        1988             1.0      0.0      0.0
                                    1989             0.0      0.0      0.0
                                    1990             0.0      2.0      2.0
                                    1991             8.0     17.0     25.0
                                    1992             0.0      0.0      0.0
                                    1993             0.0      0.0      0.0
                                    1994             0.0      0.0      0.0
                                    1995             0.0      0.0      0.0
                                    1996             0.0      0.0      NaN
                                    1997             0.0      NaN      NaN
Alaska Nat Ins Co                   1988          4386.0   7912.0   9668.0
                                    1989          5321.0  10223.0  12162.0
                                    1990          4775.0  10594.0  13524.0
                                    1991          6731.0  15173.0  18551.0
                                    1992          9166.0  18877.0  22168.0
                                    1993          8321.0  16556.0  19539.0
                                    1994          7045.0  14434.0  17173.0
                                    1995          7332.0  15222.0  18450.0
                                    1996          6599.0  12870.0      NaN
                                    1997          7048.0      NaN      NaN
Alaska Timber Ins Exchange          1988          2270.0   4322.0   4981.0
                                    1989          3040.0   4948.0   5891.0
                                    1990          3637.0   6621.0   7703.0
                                    1991          2259.0   4259.0   5485.0
                                    1992          1644.0   3218.0   3989.0
                                    1993          1399.0   2865.0   4117.0
                                    1994          1461.0   4164.0   5042.0
                                    1995          2257.0   4648.0   5559.0
                                    1996          2342.0   4342.0      NaN
                                    1997          1778.0      NaN      NaN
...                                                  ...      ...      ...
Workers Comp Exch                   1988          1186.0   2124.0   2639.0
                                    1989          1314.0   2045.0   3096.0
                                    1990          1130.0   2187.0   2719.0
                                    1991          1074.0   2010.0   2469.0
                                    1992           760.0   1888.0   2271.0
                                    1993          1071.0   2303.0   2883.0
                                    1994           708.0   1834.0   2413.0
                                    1995           996.0   2155.0   2639.0
                                    1996           648.0   1435.0      NaN
                                    1997           997.0      NaN      NaN
Yasuda Fire & Marine Ins Co Of Amer 1988          1773.0   3152.0   4097.0
                                    1989          1652.0   4710.0   6715.0
                                    1990          3527.0   9360.0  13075.0
                                    1991          5977.0  14660.0  20553.0
                                    1992          7568.0  15487.0  20504.0
                                    1993          3723.0   7138.0   9212.0
                                    1994          2690.0   5389.0   6533.0
                                    1995          2454.0   4948.0   6349.0
                                    1996          3443.0   6938.0      NaN
                                    1997          3850.0      NaN      NaN
Zurich Ins (Guam) Inc               1988             0.0      0.0      0.0
                                    1989             0.0      0.0      0.0
                                    1990             0.0      0.0      0.0
                                    1991             0.0      0.0      0.0
                                    1992             0.0      0.0      0.0
                                    1993             0.0      0.0      0.0
                                    1994             0.0      0.0      0.0
                                    1995             0.0      0.0      0.0
                                    1996             0.0      0.0      NaN
                                    1997             0.0      NaN      NaN

DevelopmentLag                                         4        5        6   \
GRNAME                              AccidentYear
Agway Ins Co                        1988              0.0      0.0      0.0
                                    1989              0.0      0.0      0.0
                                    1990              2.0      2.0     16.0
                                    1991             31.0     26.0     29.0
                                    1992              0.0      0.0      0.0
                                    1993              0.0      0.0      NaN
                                    1994              0.0      NaN      NaN
                                    1995              NaN      NaN      NaN
                                    1996              NaN      NaN      NaN
                                    1997              NaN      NaN      NaN
Alaska Nat Ins Co                   1988          10502.0  10891.0  11181.0
                                    1989          13051.0  13535.0  13734.0
                                    1990          14837.0  15353.0  15557.0
                                    1991          20392.0  21268.0  21878.0
                                    1992          23259.0  23949.0  24299.0
                                    1993          21018.0  22158.0      NaN
                                    1994          18631.0      NaN      NaN
                                    1995              NaN      NaN      NaN
                                    1996              NaN      NaN      NaN
                                    1997              NaN      NaN      NaN
Alaska Timber Ins Exchange          1988           5823.0   5917.0   5995.0
                                    1989           6668.0   6837.0   6949.0
                                    1990           8495.0   9025.0   9244.0
                                    1991           5870.0   6005.0   6127.0
                                    1992           4303.0   4332.0   4354.0
                                    1993           4391.0   4610.0      NaN
                                    1994           5392.0      NaN      NaN
                                    1995              NaN      NaN      NaN
                                    1996              NaN      NaN      NaN
                                    1997              NaN      NaN      NaN
...                                                   ...      ...      ...
Workers Comp Exch                   1988           2971.0   3286.0   3407.0
                                    1989           3540.0   3836.0   4072.0
                                    1990           3213.0   3348.0   3493.0
                                    1991           2742.0   2846.0   2930.0
                                    1992           2446.0   2537.0   2681.0
                                    1993           3231.0   3292.0      NaN
                                    1994           2465.0      NaN      NaN
                                    1995              NaN      NaN      NaN
                                    1996              NaN      NaN      NaN
                                    1997              NaN      NaN      NaN
Yasuda Fire & Marine Ins Co Of Amer 1988           4649.0   5004.0   5178.0
                                    1989           7680.0   8611.0   8840.0
                                    1990          15646.0  16894.0  17460.0
                                    1991          23104.0  24857.0  25540.0
                                    1992          23615.0  24746.0  26045.0
                                    1993          10150.0  10637.0      NaN
                                    1994           7210.0      NaN      NaN
                                    1995              NaN      NaN      NaN
                                    1996              NaN      NaN      NaN
                                    1997              NaN      NaN      NaN
Zurich Ins (Guam) Inc               1988              0.0      0.0      0.0
                                    1989              0.0      0.0      0.0
                                    1990              0.0      0.0      0.0
                                    1991              0.0      0.0      0.0
                                    1992              0.0      0.0      0.0
                                    1993              0.0      0.0      NaN
                                    1994              0.0      NaN      NaN
                                    1995              NaN      NaN      NaN
                                    1996              NaN      NaN      NaN
                                    1997              NaN      NaN      NaN

DevelopmentLag                                         7        8        9   \
GRNAME                              AccidentYear
Agway Ins Co                        1988              0.0      0.0      0.0
                                    1989             23.0     23.0     31.0
                                    1990             16.0     23.0      NaN
                                    1991             38.0      NaN      NaN
                                    1992              NaN      NaN      NaN
                                    1993              NaN      NaN      NaN
                                    1994              NaN      NaN      NaN
                                    1995              NaN      NaN      NaN
                                    1996              NaN      NaN      NaN
                                    1997              NaN      NaN      NaN
Alaska Nat Ins Co                   1988          11339.0  11422.0  11493.0
                                    1989          13928.0  14022.0  14108.0
                                    1990          15741.0  15882.0      NaN
                                    1991          22225.0      NaN      NaN
                                    1992              NaN      NaN      NaN
                                    1993              NaN      NaN      NaN
                                    1994              NaN      NaN      NaN
                                    1995              NaN      NaN      NaN
                                    1996              NaN      NaN      NaN
                                    1997              NaN      NaN      NaN
Alaska Timber Ins Exchange          1988           6001.0   6087.0   6138.0
                                    1989           6851.0   6869.0   6921.0
                                    1990           9302.0   9387.0      NaN
                                    1991           6242.0      NaN      NaN
                                    1992              NaN      NaN      NaN
                                    1993              NaN      NaN      NaN
                                    1994              NaN      NaN      NaN
                                    1995              NaN      NaN      NaN
                                    1996              NaN      NaN      NaN
                                    1997              NaN      NaN      NaN
...                                                   ...      ...      ...
Workers Comp Exch                   1988           3451.0   3466.0   3578.0
                                    1989           4170.0   4330.0   4422.0
                                    1990           3546.0   3642.0      NaN
                                    1991           2939.0      NaN      NaN
                                    1992              NaN      NaN      NaN
                                    1993              NaN      NaN      NaN
                                    1994              NaN      NaN      NaN
                                    1995              NaN      NaN      NaN
                                    1996              NaN      NaN      NaN
                                    1997              NaN      NaN      NaN
Yasuda Fire & Marine Ins Co Of Amer 1988           5247.0   5316.0   5333.0
                                    1989           8969.0   9041.0   9080.0
                                    1990          17658.0  17777.0      NaN
                                    1991          26003.0      NaN      NaN
                                    1992              NaN      NaN      NaN
                                    1993              NaN      NaN      NaN
                                    1994              NaN      NaN      NaN
                                    1995              NaN      NaN      NaN
                                    1996              NaN      NaN      NaN
                                    1997              NaN      NaN      NaN
Zurich Ins (Guam) Inc               1988              0.0      0.0      0.0
                                    1989              0.0      0.0      0.0
                                    1990              0.0      0.0      NaN
                                    1991              0.0      NaN      NaN
                                    1992              NaN      NaN      NaN
                                    1993              NaN      NaN      NaN
                                    1994              NaN      NaN      NaN
                                    1995              NaN      NaN      NaN
                                    1996              NaN      NaN      NaN
                                    1997              NaN      NaN      NaN

DevelopmentLag                                         10
GRNAME                              AccidentYear
Agway Ins Co                        1988              0.0
                                    1989              NaN
                                    1990              NaN
                                    1991              NaN
                                    1992              NaN
                                    1993              NaN
                                    1994              NaN
                                    1995              NaN
                                    1996              NaN
                                    1997              NaN
Alaska Nat Ins Co                   1988          11513.0
                                    1989              NaN
                                    1990              NaN
                                    1991              NaN
                                    1992              NaN
                                    1993              NaN
                                    1994              NaN
                                    1995              NaN
                                    1996              NaN
                                    1997              NaN
Alaska Timber Ins Exchange          1988           6146.0
                                    1989              NaN
                                    1990              NaN
                                    1991              NaN
                                    1992              NaN
                                    1993              NaN
                                    1994              NaN
                                    1995              NaN
                                    1996              NaN
                                    1997              NaN
...                                                   ...
Workers Comp Exch                   1988           3601.0
                                    1989              NaN
                                    1990              NaN
                                    1991              NaN
                                    1992              NaN
                                    1993              NaN
                                    1994              NaN
                                    1995              NaN
                                    1996              NaN
                                    1997              NaN
Yasuda Fire & Marine Ins Co Of Amer 1988           5385.0
                                    1989              NaN
                                    1990              NaN
                                    1991              NaN
                                    1992              NaN
                                    1993              NaN
                                    1994              NaN
                                    1995              NaN
                                    1996              NaN
                                    1997              NaN
Zurich Ins (Guam) Inc               1988              0.0
                                    1989              NaN
                                    1990              NaN
                                    1991              NaN
                                    1992              NaN
                                    1993              NaN
                                    1994              NaN
                                    1995              NaN
                                    1996              NaN
                                    1997              NaN

[1320 rows x 10 columns]

In [ ]:
x

In [ ]:
x

In [ ]:
# triangle array is a set 10x10 triangles for more than 100 companies.
triangle_array.shape

### Clean up missing and zero values

In [ ]:
# This is not a very good triangle to have in our model.
triangle_array[-1]

In [ ]:
# Let's get rid of completely empty triangles
triangle_sum = np.nansum(np.nansum(triangle_array, axis=1),axis=1)
triangle_array = triangle_array[triangle_sum!=0,:,:]
# let's turn 0's to nan - this will alleviate issues around dividing by zero
triangle_array[triangle_array==0]=np.nan

### Age-to-age factors

In [ ]:
# Let's use slicing to create age-to-age factors
ata_array = triangle_array[:,:-1,1:]/triangle_array[:,:-1,:-1]
# Let's default the completely blank age-to-age columns with 1.0
accident_periods = len(cas['DevelopmentLag'].unique())
ata_array_defaults = np.expand_dims(np.all(np.isnan(ata_array),axis=1),axis=1)
ata_array[np.repeat(ata_array_defaults,accident_periods-1,axis=1)]=1.0

### LDFs and CDFs

In [ ]:
# Let's create an array of LDFs, by taking simple averages of the age-to-age factors.
ldf_array = np.nanmean(ata_array, axis=1)
ldf_array[np.isnan(ldf_array)]=1.0
# Let's create an array of CDFs with a tail factor from our LDFs
cdf_array = ldf_array[:,::-1].cumprod(axis=1)[:,::-1]
tail_factor = 1.0
cdf_array = np.append(cdf_array,np.expand_dims(np.repeat(tail_factor,cdf_array.shape[0]),1),axis=1)

### Ultimates and IBNR

In [ ]:
latest_diagonal = np.nan_to_num(np.diagonal(triangle_array[:,::-1,],axis1=1,axis2=2)[:,::-1])
ultimate = latest_diagonal * cdf_array[:,::-1]
ibnr = ultimate - latest_diagonal

### The business questions answered by our model

In [ ]:
companies = np.array(triangle_frame.index.levels[0])[triangle_sum!=0]
print('How much IBNR does the entire industry need according to this model?')
print(np.sum(ibnr).round(0))
print()
print('What is the average ultimate to paid ratio across the industry?')
print((np.sum(ultimate)/np.sum(latest_diagonal)).round(3))
print()
print('Which company has the highest 12-Ultimate CDF?')
print(companies[np.argmax(cdf_array[:,0])])
print()
print('Which company has the lowest 12-24 LDF?')
print(companies[np.argmin(ldf_array[:,1])])
print()
print('What is the 95% confidence interval on the estimate of 12-Ultimate CDF?')
print((np.sort(cdf_array[:,1])[int(.025*len(cdf_array[:,1]))],cdf_array[:,1][int(.975*len(cdf_array[:,1]))]))

Performance test of the above code

In [ ]:
%%timeit
triangle_array = np.array(triangle_frame).reshape(len(cas['GRNAME'].unique()),len(cas['AccidentYear'].unique()),len(cas['DevelopmentLag'].unique()))
triangle_sum = np.nansum(np.nansum(triangle_array, axis=1),axis=1)
triangle_array = triangle_array[triangle_sum!=0,:,:]
triangle_array[triangle_array==0]=np.nan
ata_array = triangle_array[:,:-1,1:]/triangle_array[:,:-1,:-1]
accident_periods = len(cas['DevelopmentLag'].unique())
ata_array_defaults = np.expand_dims(np.all(np.isnan(ata_array),axis=1),axis=1)
ata_array[np.repeat(ata_array_defaults,accident_periods-1,axis=1)]=1.0
ldf_array = np.nanmean(ata_array, axis=1)
ldf_array[np.isnan(ldf_array)]=1.0
cdf_array = ldf_array[:,::-1].cumprod(axis=1)[:,::-1]
tail_factor = 1.0
cdf_array = np.append(cdf_array,np.expand_dims(np.repeat(tail_factor,cdf_array.shape[0]),1),axis=1)
latest_diagonal = np.nan_to_num(np.diagonal(triangle_array[:,::-1,],axis1=1,axis2=2)[:,::-1])
ultimate = latest_diagonal * cdf_array[:,::-1]
ibnr = ultimate - latest_diagonal

In [ ]:
for m in [ i for i in dir(np) if i[0] >= 'a' and i[0]<='z']:
    print(m)

In [14]:
for m in [ i for i in dir(np.random) if i[0] >= 'a' and i[0]<='z']:
    print(m)

absolute_import
bench
beta
binomial
bytes
chisquare
choice
dirichlet
division
exponential
f
gamma
geometric
get_state
gumbel
hypergeometric
info
laplace
logistic
lognormal
logseries
mtrand
multinomial
multivariate_normal
negative_binomial
noncentral_chisquare
noncentral_f
normal
np
operator
pareto
permutation
poisson
power
print_function
rand
randint
randn
random
random_integers
random_sample
ranf
rayleigh
sample
seed
set_state
shuffle
standard_cauchy
standard_exponential
standard_gamma
standard_normal
standard_t
test
triangular
uniform
vonmises
wald
warnings
weibull
zipf

In [ ]:
# optional pause for something more advanced... 
for m in [ i for i in dir(np) if i[0] >= 'a' and i[0]<='z']:
    print(f'\n\n{m}\n{"="*len(m)}\n')
    print(np.__getattribute__(m).__doc__)

In [ ]:
df = pd.DataFrame([(i, getattr(x, i).__doc__) for i in dir(x)], columns=['Method', 'Help'])

In [ ]:
cas = pd.read_csv(r'http://www.casact.org/research/reserve_data/wkcomp_pos.csv')
# Let's make the pandas dataframe look more triangle like
triangle_frame = pd.pivot_table(cas[cas['DevelopmentYear']<=1997], 
                                values='CumPaidLoss_D', 
                                index=['GRNAME','AccidentYear'], 
                                columns='DevelopmentLag')

In [29]:
cas.query(' GRCODE==86 and AccidentYear + DevelopmentLag <=1998 ')

,GRCODE,GRNAME,AccidentYear,DevelopmentYear,DevelopmentLag,IncurLoss_D,CumPaidLoss_D,BulkLoss_D,EarnedPremDIR_D,EarnedPremCeded_D,EarnedPremNet_D,Single,PostedReserve97_D
0,86,Allstate Ins Co Grp,1988,1988,1,367404,70571,127737,400699,5957,394742,0,281872
1,86,Allstate Ins Co Grp,1988,1989,2,362988,155905,60173,400699,5957,394742,0,281872
2,86,Allstate Ins Co Grp,1988,1990,3,347288,220744,27763,400699,5957,394742,0,281872
3,86,Allstate Ins Co Grp,1988,1991,4,330648,251595,15280,400699,5957,394742,0,281872
4,86,Allstate Ins Co Grp,1988,1992,5,354690,274156,27689,400699,5957,394742,0,281872
5,86,Allstate Ins Co Grp,1988,1993,6,350092,287676,20641,400699,5957,394742,0,281872
6,86,Allstate Ins Co Grp,1988,1994,7,346808,298499,14513,400699,5957,394742,0,281872
7,86,Allstate Ins Co Grp,1988,1995,8,349124,304873,15862,400699,5957,394742,0,281872
8,86,Allstate Ins Co Grp,1988,1996,9,348157,321808,8974,400699,5957,394742,0,281872
9,86,Allstate Ins Co Grp,1988,1997,10,347762,325322,8843,400699,5957,394742,0,281872
10,86,Allstate Ins Co Grp,1989,1989,1,336928,66547,116172,379603,5351,374252,0,281872
11,86,Allstate Ins Co Grp,1989,1990,2,316483,136447,52298,379603,5351,374252,0,281872
12,86,Allstate Ins Co Grp,1989,1991,3,278496,179142,20543,379603,5351,374252,0,281872
13,86,Allstate Ins Co Grp,1989,1992,4,303033,211343,28846,379603,5351,374252,0,281872
14,86,Allstate Ins Co Grp,1989,1993,5,299496,231430,22033,379603,5351,374252,0,281872
15,86,Allstate Ins Co Grp,1989,1994,6,295061,244750,17174,379603,5351,374252,0,281872
16,86,Allstate Ins Co Grp,1989,1995,7,299251,254557,17851,379603,5351,374252,0,281872
17,86,Allstate Ins Co Grp,1989,1996,8,297492,270059,10305,379603,5351,374252,0,281872
18,86,Allstate Ins Co Grp,1989,1997,9,300620,273873,12520,379603,5351,374252,0,281872
20,86,Allstate Ins Co Grp,1990,1990,1,289198,52233,108959,283661,3341,280320,0,281872
21,86,Allstate Ins Co Grp,1990,1991,2,311381,133370,62543,283661,3341,280320,0,281872
22,86,Allstate Ins Co Grp,1990,1992,3,277980,178444,32561,283661,3341,280320,0,281872
23,86,Allstate Ins Co Grp,1990,1993,4,277732,204442,25858,283661,3341,280320,0,281872
24,86,Allstate Ins Co Grp,1990,1994,5,276563,222193,21189,283661,3341,280320,0,281872
25,86,Allstate Ins Co Grp,1990,1995,6,278067,232940,16645,283661,3341,280320,0,281872
26,86,Allstate Ins Co Grp,1990,1996,7,276704,253337,9428,283661,3341,280320,0,281872
27,86,Allstate Ins Co Grp,1990,1997,8,281101,256788,11861,283661,3341,280320,0,281872
30,86,Allstate Ins Co Grp,1991,1991,1,297174,59315,112836,318922,4940,313982,0,281872
31,86,Allstate Ins Co Grp,1991,1992,2,277209,128051,60251,318922,4940,313982,0,281872
32,86,Allstate Ins Co Grp,1991,1993,3,269739,169793,37066,318922,4940,313982,0,281872
33,86,Allstate Ins Co Grp,1991,1994,4,272666,196685,28931,318922,4940,313982,0,281872
34,86,Allstate Ins Co Grp,1991,1995,5,271318,213165,24175,318922,4940,313982,0,281872
35,86,Allstate Ins Co Grp,1991,1996,6,267578,234676,12850,318922,4940,313982,0,281872
36,86,Allstate Ins Co Grp,1991,1997,7,269592,239195,12899,318922,4940,313982,0,281872
40,86,Allstate Ins Co Grp,1992,1992,1,181796,39991,73135,257236,4538,252698,0,281872
41,86,Allstate Ins Co Grp,1992,1993,2,205079,89873,52160,257236,4538,252698,0,281872
42,86,Allstate Ins Co Grp,1992,1994,3,199106,114117,39554,257236,4538,252698,0,281872
43,86,Allstate Ins Co Grp,1992,1995,4,187833,133003,20231,257236,4538,252698,0,281872
44,86,Allstate Ins Co Grp,1992,1996,5,185663,154362,12532,257236,4538,252698,0,281872
45,86,Allstate Ins Co Grp,1992,1997,6,184940,159496,11114,257236,4538,252698,0,281872
50,86,Allstate Ins Co Grp,1993,1993,1,114807,19744,57891,202249,1194,201055,0,281872
51,86,Allstate Ins Co Grp,1993,1994,2,114774,47229,39773,202249,1194,201055,0,281872
52,86,Allstate Ins Co Grp,1993,1995,3,101460,61909,16188,202249,1194,201055,0,281872
53,86,Allstate Ins Co Grp,1993,1996,4,98430,85099,5161,202249,1194,201055,0,281872
54,86,Allstate Ins Co Grp,1993,1997,5,96930,87215,3768,202249,1194,201055,0,281872
60,86,Allstate Ins Co Grp,1994,1994,1,107934,20379,47405,176600,2219,174381,0,281872
61,86,Allstate Ins Co Grp,1994,1995,2,107569,46773,22605,176600,2219,174381,0,281872
62,86,Allstate Ins Co Grp,1994,1996,3,97730,88636,1704,176600,2219,174381,0,281872
63,86,Allstate Ins Co Grp,1994,1997,4,96185,91077,537,176600,2219,174381,0,281872
70,86,Allstate Ins Co Grp,1995,1995,1,100686,18756,42787,148185,1819,146366,0,281872
71,86,Allstate Ins Co Grp,1995,1996,2,94456,84712,3054,148185,1819,146366,0,281872
72,86,Allstate Ins Co Grp,1995,1997,3,92314,87311,469,148185,1819,146366,0,281872
80,86,Allstate Ins Co Grp,1996,1996,1,53381,42609,5665,95488,2194,93294,0,281872
81,86,Allstate Ins Co Grp,1996,1997,2,51205,44916,1788,95488,2194,93294,0,281872
90,86,Allstate Ins Co Grp,1997,1997,1,6725,691,3547,8347,696,7651,0,281872